@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

.button1:hover>svg>path {
    d:path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0"
        );
}
.button1:active > svg > path {
    d: path(
      "M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0"
    );
}
.content {
    position: relative;
  }
  
  .content h2 {
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }

@media (max-width:1023px) {
    .mobileview {
        width: 100% !important;
        min-height: 100vh !important;
        position: absolute !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
        color: wheat !important;
        top: 0 !important;
        z-index: 15 !important;
        gap: 60px !important;
        font-size: 40px !important;
        overflow-y: hidden !important;
        backdrop-filter: blur(30px);

    }
}
@keyframes animate {

    0%,
    100% {
      clip-path: polygon(0% 45%,
          16% 44%,
          33% 50%,
          54% 60%,
          70% 61%,
          84% 59%,
          100% 52%,
          100% 100%,
          0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%,
          15% 65%,
          34% 66%,
          51% 62%,
          67% 50%,
          84% 45%,
          100% 46%,
          100% 100%,
          0% 100%);
    }
  }